:root{
    --primary-color: hsl(217, 19%, 35%);
    --secondary-color: hsl(214, 17%, 51%);
    --tertiary-color: hsl(212, 23%, 69%);
    --fouthary-color: hsl(210, 46%, 95%);
}

body{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--fouthary-color);
}

main{
    width: 20.3125rem;
    background-color:white;
    border-radius: .9375rem;
}

.logo{
    background-image: url("/images/drawers.jpg");
    height: 215px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .9375rem .9375rem 0 0;
}

.personal-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: .625rem;
}


.personal{
    display: flex;
    align-items: center;
    color: var(--tertiary-color);
}    

.personal h2{
    margin: 0;
    color: var(--primary-color);
    font-size: 13px;
    font-weight: 700;
}

.avatar{
    border-radius: 50%;
    width: 3.125rem;
    margin: 0 .9375rem 0 0;
}

.share-icon{
    background-color: var(--fouthary-color);
    border-radius: 50%;
    padding: .625rem;
    z-index: 2;
}

.content-section{
    padding: 1.25rem;
}

.overview{
    margin-bottom: 1.8125rem;
}
.overview h1{
    font-size: 18px;
    color: var(--primary-color);
}

.overview p {
    color: var(--tertiary-color);
}

.share-menu {
    padding: 0 1.25rem;
    position: absolute;
    box-shadow: 0 0 .625rem #0003;
    background-color: var(--primary-color);
    border-radius: 0 0 .9375rem .9375rem;
    color: var(--fouthary-color);
    text-transform: uppercase;
    letter-spacing: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 17.8rem;
    height: 5.375rem;
    z-index: 1;
    transform: translate(0%, 253%);
  }

  .share-menu img{
    padding: 0 .625rem;
  }

@media (min-width: 720px){
    main{
        display: flex;
        width: 45rem;
    }

    .logo{
        width: 100%;
        height: auto;
        border-radius: .9375rem 0 0 .9375rem;
    }

    .overview{
        margin-bottom: 0;
    }

    .content-section{
        padding: 2.5rem;
    }

    .share-icon:hover, .share-icon:focus{
        background-color: var(--tertiary-color);
    }

    .share-menu {
        padding: .9375rem 2.1875rem;
        border-radius: .3125rem;
        justify-content: space-between;
        width: 10.625rem;
        transform: translate(226%, 290%);
        height: auto;
      }

      .share-menu::before {
        content: "";
        width: 1rem;
        height: 1rem;
        background-color: var(--primary-color);
        position: absolute;
        top: 2.6rem;
        left: 50%;
        transform: translateX(-50%)rotate(45deg);
      }
}