:root{
    --primary-color: hsl(217, 19%, 35%);
    --secondary-color: hsl(214, 17%, 51%);
    --tertiary-color: hsl(212, 23%, 69%);
    --fouthary-color: hsl(210, 46%, 95%);
}

body{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--fouthary-color);
}

main{
    width: 20.3125rem;
    background-color:white;
    border-radius: .9375rem;
}

.logo{
    background-image: url("/images/drawers.jpg");
    height: 215px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .9375rem .9375rem 0 0;
}

.personal-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.personal{
    display: flex;
    align-items: center;
    color: var(--tertiary-color);
}

.personal h2{
    margin: 0;
    color: var(--primary-color);
    font-size: 13px;
    font-weight: 700;
}

.avatar{
    border-radius: 50%;
    width: 3.125rem;
    padding: 0 .9375rem 0 0;
}

.share-icon{
    background-color: var(--fouthary-color);
    border-radius: 50%;
    padding: .625rem;
}

.content-section{
    padding: 1.25rem;
}

.overview h1{
    font-size: 18px;
    color: var(--primary-color);
}

.overview p {
    color: var(--tertiary-color);
}

@media (min-width: 720px){
    main{
        display: flex;
        width: 45rem;
    }

    .logo{
        width: 100%;
        height: auto;
        border-radius: .9375rem 0 0 .9375rem;
    }

    .content-section{
        padding: 2.5rem;
    }
}